@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Mulish:wght@300;400;500&family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Raleway:ital,wght@0,200;0,300;0,400;1,200&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
}

ul{
    border: 0px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    text-align: center;
    font-size: 38px;
    font-weight: inherit;
    line-height: inherit;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-weight: inherit;
    line-height: inherit;
    color: white;
}

h4{
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 0px;
    font-size: 18px;
    font-weight: 900;
    color: white;
}

p{
    margin: 0px;
    line-height: 1.45;
    color: white;
    font-size: 18px;
}

#s-header{
    height: 900px;
    width: auto;
    background-image: url(/Test/Photos/batman-vs-superman-official-logo-HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#s-header .navbar{
    top: 0px;
    width: 100%;
    position: fixed;
    background-color: rgba(33,44,55,.7);
    text-align: center;
}

#s-header .navbar .logo{
    height: 30px;
    top: 6px;
    width: auto;
    position: fixed;
    left: 10px;
}

#s-header .navbar li{
    display: inline-block;
}

#s-header .navbar li a:hover{
    background-color: #e74c3c;
}

#s-header .navbar li a{
    display: block;
    padding: 13px 10px;
    transition: background-color .3s linear;
    font-size: 15px;
}

#s-header .headline{
    margin-top: 400px;
    margin-left: 180px;
    margin-right: 180px;
    color: white;
    text-align: center;
}

#s-header .headline h1{
    font-size: 42px;
    line-height: inherit;
    font-weight: inherit;
}

#s-header .headline p{
    font-size: 24px;
    font-style: italic;
}

#s-main .s-section-1{
    background: #ecf0f1;
}

#s-main .s-section-1 div{
    width: 1088px;
    margin: 80px auto;
    padding: 0px;
}

#s-main .s-section-1 div .title p{
    text-align: center;
    font-size: 22px;
    color: #848888
}

#s-main .s-section-1 div .media{
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
}

#s-main .s-section-1 div .media .describe{
    margin: 0px;
    width: 268px;
    height: 300px;
    padding: 25px;
    background-color: #e74c3c;
}

#s-main .s-section-2{
    margin: 80px auto;
}

#s-main .s-section-2 .s-content{
    margin-top: 35px;
    margin-left: 230px;
    margin-right: 230px;
    display: flex;
    justify-content: space-between;
}

#s-main .s-section-2 h2{
    margin-bottom: 80px;
}

#s-main .s-section-2 .s-content .s-content-describe{
    height: 190px;
    width: 609px;
    padding: 25px;
    background-color: #e74c3c;
    text-align: justify;
}

#s-main .s-section-2 .s-content .s-content-describe h3{
    text-align: left;
}

#s-main .s-section-3{
    height: 500px;
    width: auto;
    text-align: center;
    background-image: url(/Test/Photos/789358_20-batman-v-superman-wallpapers-graphic-cloud_1920x1080_h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#s-main .s-section-3 h2{
    margin-top: 100px;
}

#s-main .s-section-3 p{
    margin-bottom: 30px;
    font-size: 22px;
    color: black;
}

#s-main .s-section-3 p:first-of-type{
    margin-left: 630px;
    margin-right: 630px;
}

#s-main .s-section-3 .action{
    width: 180px;
    padding: 16px 28px;
    font-family: inherit;
    font-size: 20px;
    margin-top: 35px;
    background-color:#212c37;
    border: none;
    border-radius: 40px;
}

#s-main .s-section-3 .action:hover{
    background-color: #e74c3c;
}

#s-main .s-section-4{
    background-color: #212c37;
    text-align: center;
}

#s-main .s-section-4 h2{
    margin-top: 80px;
    color: white;
}

#s-main .s-section-4 p{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    font-size: 24px;
}

#s-main .s-section-4 p:last-of-type{
    margin-left: 300px;
    margin-right: 300px;
}